<mat-card style="padding: 0px">
  <mat-card-content>
   
  <mat-toolbar color="primary">
    <span>Login</span>
  </mat-toolbar>

  <form [formGroup]="form" (ngSubmit)="login()">  

    <div style="padding: 16px;">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutAlign="space-around center" fxLayoutGap="50px">          
            <mat-form-field fxFlex="calc(50%-30px)" >              
                    <mat-label>Username</mat-label>   
                    <input type="text" matInput formControlName="username" >
                    <mat-hint>email or username</mat-hint>
                    <mat-error *ngIf="f.username.errors && f.username.errors.required">Username is required</mat-error>
            </mat-form-field>          
            <mat-form-field fxFlex="calc(50%-30px)">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
                <mat-error *ngIf="f.password.errors && f.password.errors.required">Password is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <mat-toolbar fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" style="padding: 16px;">
        <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid || isSubmitting"> 
            <mat-spinner diameter="40" strokeWidth='5' *ngIf="isSubmitting"></mat-spinner>
            <span *ngIf="!isSubmitting">Login</span>
        </button>
    </mat-toolbar>

  </form>

  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
