  <mat-toolbar color="primary">
    <span></span>
    <span class="fx-spacer"></span>
    <button mat-icon-button type="button"> 
        <mat-icon mat-list-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div style="padding: 16px;">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">          
          
    </div>
  </div>
  <mat-toolbar fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" style="padding: 16px;">
  </mat-toolbar>
