<ion-header>
  <mat-toolbar color="primary">
    <div>
      <a routerLink="/"><mat-icon>account_balance</mat-icon> <span fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>Evolutionary Product</span></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.gt-xs>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </div>

  </mat-toolbar>
</ion-header>